body{
	background: black;
	font-size: 16px;
	font-family: sans-serif;
}

#Contenido
{
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}

header
{
	font-family: 'Dancing Script', cursive;
	margin: 0 auto;
	height: 4em;
	padding: 0;
	background-color: #5b7989;
	color: white;
	border-radius: 10px 10px 0 0;
	width: 100%;

}

h1 {
	margin-left: 0.5em;
	margin-top: 0.5em;
}

#menu nav a:hover, #menu nav a:active,
#banner nav a:link, #banner nav a:visited,
#menu nav .active a:link, #menu nav .active a:visited {
	color: white;
}

#titulo {
	width: 50%;
  height: 100%;
	font-size: 1.45em;
	float: left;
	text-shadow: 2px 2px 2px #02010a;

}

#menu {
	width: 50%;
  height: 100%;
  float: right;


}

/*
	text-align: left;
	color: white;
	width: 50%;
	padding-left: 10px;
	font-size: 1.5em;
	text-shadow: 2px 2px 2px #02010a;
	 */
}



nav ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}

nav ul li {
	display: inline;
}

article
{
	box-sizing: border-box;
	float:left;
	height: 100%;
	padding: 2%;
	text-align: center;
	height: 400px;
}

	#imgcentral
	{
	background-color: #82C3A6;
	width: 100%;

	}
	#imgizquierda, #imgderecha
	{
	background-color: #D5C75F;
	width: 50%;
	border: 1px;
	}

	#piepagina
	{
	background-color: #C6D5C5;
	width: 100%;
	}


div [class*="imagen"]{
  min-height: 200px;
  flex: 1 2 50%;
}

.imagen1 {
  background-color: #D5C75F;
  order: 1;
  flex-grow: 1;
}

.imagen2 {
	  background-color: #D5C75F;
	  order: 2;
	  flex-grow: 2;
}

.imagen3 {
			  background-color: #D5C75F;
			  order: 3;
			  flex-grow: 3;
}

.imagen4 {
			  background-color: #D5C75F;
			  order: 4;
			  flex-grow: 4;
}

.imagen5 {
			  background-color: #D5C75F;
			  order: 5;
			  flex-grow: 5;
}

.imagen6 {
			  background-color: #D5C75F;
			  order: 6;
			  flex-grow: 6;
}


#Detallefotos {
	display: flex;
  flex-flow: row wrap;
}

/* Responsive */

@media screen and (max-width: 900px){

	#imgizquierda, #imgderecha
	{
	width: 50%;
	}

}

@media screen and (max-width: 899px){

	#imgizquierda, #imgderecha
	{
		width: 100%;
	}

	div [class*="imagen"]{
	  min-height: 200px;
	  flex: 1 100%;
	}

}


footer
{
	font-family: 'Dancing Script', cursive;
	margin: 0 auto;
	height: 1em;
	background-color: #C6D5C5;
	color:black;
	width: 100%;
	border-radius: 0 0 10px 10px;
	margin-bottom: 5px;
	list-style-type: none;
	text-align: left;
}

footer section article ul {
	list-style-type: none;
	text-align: left;
}

footer section article {
	text-align: left;
}

#contacto, #terminos, #redessociales, #derechos
{
	background-color: #C6D5C5;
	width: 25%;
}
