body{
	background: black;
	font-size: 16px;
	font-family: sans-serif;
}

#Contenido
{
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}

header
{
	margin: 0 auto;
	height: 1em;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	background-color: #5b7989;
	border-radius: 10px 10px 0 0;
	color:white;
	width: 100%;
}

article
{
	box-sizing: border-box;
	float:left;
	height: 100%;
	padding: 2%;
	text-align: center;
	height: 400px;
}

footer
{
	margin: 0 auto;
	height: 1em;
	background-color: #C6D5C5;
	color:white;
	width: 100%;
	border-radius: 0 0 10px 10px;
	margin-bottom: 5px;
}

	#imgcentral
	{
	background-color: #82C3A6;
	width: 100%;

	}
	#imgizquierda, #imgderecha
	{
	background-color: #D5C75F;
	width: 50%;
	border: 1px;
	}

	#piepagina
	{
	background-color: #C6D5C5;
	width: 100%;
	}


div [class*="imagen"]{
  min-height: 200px;
  flex: 1 2 50%;
}

.imagen1 {
  background-color: #D5C75F;
  order: 1;
  flex-grow: 1;
}

.imagen2 {
	  background-color: #D5C75F;
	  order: 2;
	  flex-grow: 2;
}

.imagen3 {
			  background-color: #D5C75F;
			  order: 3;
			  flex-grow: 3;
}

.imagen4 {
			  background-color: #D5C75F;
			  order: 4;
			  flex-grow: 4;
}

.imagen5 {
			  background-color: #D5C75F;
			  order: 5;
			  flex-grow: 5;
}

.imagen6 {
			  background-color: #D5C75F;
			  order: 6;
			  flex-grow: 6;
}


#Detallefotos {
	display: flex;
  flex-flow: row wrap;
}

/* Responsive */

@media screen and (max-width: 900px){

	#imgizquierda, #imgderecha
	{
	width: 50%;
	}

}

@media screen and (max-width: 899px){

	#imgizquierda, #imgderecha
	{
		width: 100%;
	}

	div [class*="imagen"]{
	  min-height: 200px;
	  flex: 1 100%;
	}

}
